.layout{
    background-color: #151521;
}

@media screen and (max-width: 992px){
    .layout{
        display: flex;
        .sidebar{
            display: block;
        }
        .sidebar-collapsed{
            display: none !important;
        }
        .content{
            // flex: 1 0 auto;
        }
    }
}