.homepage{
    background-color: #151521;
    height: 100vh;
    padding-left: 300px;
    position: relative;
    .content{
        width: calc(100vw - 350px);
        background-color: #1E1E2D;
        position: absolute;
        top: 80px;
        left: 300px;
        bottom: 60px;
        border-radius: 12px;
        box-shadow: 0 0 45px 0 rgb(0 0 0 / 60%);
        transition: .5s cubic-bezier(.685,.0473,.346,1);
        z-index: 100;
        overflow: auto;
        padding: 25px 45px;
        p{
            color:white;
        }
        .home-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            height: 100%;
        }
    }
}

@media screen and (max-width: 992px){
    .homepage{
        padding-left: unset;
        .content{
            position: fixed;
            right: 0px;
            width: 100%;
            left: 0px;
            top: 8vh;
            border-radius: 0px;
        }
    }
}