<div class="windows">
    <div class="content">
        <nav ngbNav #nav="ngbNav" [(activeId)]="active" (navChange)="onNavChange($event)" class="nav-tabs">
            <ng-container [ngbNavItem]="1">
                <a ngbNavLink>Necessary Apps</a>
                <ng-template ngbNavContent>
                    <!-- <p>
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                        keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                        salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                    </p> -->
                    <div class="row">
                        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 my-3" *ngFor="let app of necessary; let i = index;">
                          <div class="item fast-transition" (click)="goToLink(app.appLink)">
                            <div class="item-head">
                              <h5 class="mb-0">{{app.appName}}</h5>
                              <i class="fas fa-tombstone-alt"></i>
                            </div>
                            <div class="item-data">
                              <pre class="mb-2">{{app.appVersion}}</pre>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 my-3">
                          <div class="item fast-transition">
                            <div class="item-head">
                              <h5 class="mb-0">WHAT</h5>
                              <i class="fas fa-tombstone-alt"></i>
                            </div>
                            <div class="item-data">
                              <pre class="mb-2">wha</pre>
                            </div>
                          </div>
                        </div>
                        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 my-3">
                          <div class="item fast-transition">
                            <div class="item-head">
                              <h5 class="mb-0">WHERE</h5>
                              <i class="fas fa-tombstone-alt"></i>
                            </div>
                            <div class="item-data">
                              <pre class="mb-2">whe</pre>
                            </div>
                          </div>
                        </div>
                        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 my-3">
                          <div class="item fast-transition">
                            <div class="item-head">
                              <h5 class="mb-0">WHEN</h5>
                              <i class="fas fa-tombstone-alt"></i>
                            </div>
                            <div class="item-data">
                              <pre class="mb-2">whe</pre>
                            </div>
                          </div>
                        </div> -->
                    </div>
                </ng-template>
            </ng-container>
            <ng-container [ngbNavItem]="2">
                <a ngbNavLink>Optional Apps</a>
                <ng-template ngbNavContent>
                    <p>
                        Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                        farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                        ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                        helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
                        8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
                        stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
                    </p>
                </ng-template>
            </ng-container>
            <ng-container [ngbNavItem]="3" [disabled]="true">
                <a ngbNavLink>Coming Soon</a>
                <ng-template ngbNavContent>
                    <p>
                        Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
                        Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
                        Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
                        egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
                        tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
                        neque. Phasellus nec tortor vel tellus pulvinar feugiat.
                    </p>
                </ng-template>
            </ng-container>
        </nav>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>
