<div class="windows">
  <div class="content-window">
    <div class="content-container">
      <nav ngbNav #nav="ngbNav" [(activeId)]="activeId" (navChange)="onNavChange($event)" class="nav-tabs">
        <ng-container [ngbNavItem]="1">
          <a ngbNavLink>Necessary Apps</a>
          <ng-template ngbNavContent>
            <div class="nav-content">
              <div class="row">
                <div [@fadeInOut] class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-2 mb-3"
                  *ngFor="let app of appList; let i = index;">
                  <div class="item" (click)="showAppDetails(app)">
                    <div class="item-left">
                      <div class="item-head">
                        <h5 class="mb-0">{{app.appName}}</h5>
                        <!-- <i class="fas fa-tombstone-alt"></i> -->
                      </div>
                      <div class="item-data">
                        <pre>{{app.version}}</pre>
                      </div>
                    </div>
                    <div class="item-middle">
                      <span [ngClass]="{
                        'green-dot': !app.exclusive && app.freeware, 
                        'red-dot': app.exclusive && !app.freeware, 
                        'yellow-dot': app.exclusive && app.freeware }">
                        •
                      </span>
                    </div>
                    <div class="item-right">
                      <div class="icon-container">
                        <i class="fas fa-download" (click)="goToLink(app.appLink)"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="appList?.length === 0 && appListLoader">
                <ngx-spinner name="appSpinner" bdColor = "rgba(0, 0, 0, 0)" size = "medium" color = "#ffffff" type = "ball-clip-rotate-multiple" [fullScreen] = "false">
                  <p class="spinner-text" style="color: white" > Fetching... </p>
                </ngx-spinner>
              </div>
              <h5 class="no-data" *ngIf="appList?.length === 0 && !appListLoader">
                No Data Available
              </h5>
            </div>
          </ng-template>
        </ng-container>
        <ng-container [ngbNavItem]="2">
          <a ngbNavLink>Optional Apps</a>
          <ng-template ngbNavContent>
            <div class="nav-content">
              <div class="row">
                <div [@fadeInOut] class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-2 mb-3"
                  *ngFor="let app of appList; let i = index;">
                  <div class="item" (click)="showAppDetails(app)">
                    <div class="item-left">
                      <div class="item-head">
                        <h5 class="mb-0">{{app.appName}}</h5>
                        <!-- <i class="fas fa-tombstone-alt"></i> -->
                      </div>
                      <div class="item-data">
                        <pre>{{app.version}}</pre>
                      </div>
                    </div>
                    <div class="item-middle">
                      <span [ngClass]="{
                        'green-dot': !app.exclusive && app.freeware, 
                        'red-dot': app.exclusive && !app.freeware, 
                        'yellow-dot': app.exclusive && app.freeware }"
                      >
                        •
                      </span>
                    </div>
                    <div class="item-right">
                      <div class="icon-container">
                        <i class="fas fa-download" (click)="goToLink(app.appLink)"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="appList?.length === 0 && appListLoader">
                <ngx-spinner name="appSpinner" bdColor = "rgba(0, 0, 0, 0)" size = "medium" color = "#ffffff" type = "ball-clip-rotate-multiple" [fullScreen] = "false">
                  <p class="spinner-text" style="color: white" > Fetching... </p>
                </ngx-spinner>
              </div>
              <h5 class="no-data" *ngIf="appList?.length === 0 && !appListLoader">
                No Data Available
              </h5>
            </div>
          </ng-template>
        </ng-container>
        <ng-container [ngbNavItem]="3" [disabled]="false">
          <a ngbNavLink>All Apps</a>
          <ng-template ngbNavContent>
            <div class="nav-content">
              <!-- <div class="row">
                                    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 my-3" *ngFor="let app of appList; let i = index;">
                                      <div class="item fast-transition" (click)="goToLink(app.appLink)">
                                        <div class="item-head">
                                          <h5 class="mb-0">{{app.appName}}</h5>
                                          <i class="fas fa-tombstone-alt"></i>
                                        </div>
                                        <div class="item-data">
                                          <pre class="mb-2">{{app.version}}</pre>
                                        </div>
                                      </div>
                                    </div>
                                  </div> -->
              <div [@fadeInOut] class="short-desc">
                <p-table class="app-data" [value]="appList" [scrollable]="true" scrollHeight="475px"
                  styleClass="p-datatable-gridlines" [resizableColumns]="true" [globalFilterFields]="['choice']">
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="appName" pResizableColumn>App Name <p-sortIcon field="appName"></p-sortIcon>
                      </th>
                      <th pResizableColumn>Version</th>
                      <!-- <th pSortableColumn="platform" pResizableColumn>Platform <p-sortIcon field="platform"></p-sortIcon></th> -->
                      <th pSortableColumn="choice" pResizableColumn>Choice 
                        <p-sortIcon field="choice"></p-sortIcon>
                        <p-columnFilter field="choice" matchMode="equals" display="menu">
                          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                              <p-dropdown [ngModel]="value" [options]="choices" (onChange)="filter($event.value)" placeholder="Any">
                              </p-dropdown>
                          </ng-template>
                      </p-columnFilter>
                      </th>
                      <th pSortableColumn="updatedAt" pResizableColumn>Updated On <p-sortIcon
                          field="updatedAt"></p-sortIcon>
                      </th>
                      <th pResizableColumn>Link</th>
  
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-app>
                    <tr>
                      <td>{{app.appName}}</td>
                      <td>{{app.version}}</td>
                      <!-- <td>{{app.platform}}</td> -->
                      <td>{{app.choice}}</td>
                      <td>{{app.updatedAt | date:'medium'}}</td>
                      <td class="action-btn">
                        <i class="fa-solid fa-link" (click)="goToLink(app.appLink)"></i>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <h5 class="no-data" *ngIf="appList?.length === 0 && !appListLoader">
                No Data Available
              </h5>
            </div>
          </ng-template>
        </ng-container>
      </nav>
      <hr class="seperator">
      <div [ngbNavOutlet]="nav" class=""></div>
      <div class="content-bottom" *ngIf="!appListLoader && activeId !== 3">
        <h6>The software links provided here marked with red and yellow dot are for educational purposes only. It is not intended for commercial use. We
          encourage users to obtain proper licenses or use legal alternatives for their software needs.</h6>
      </div>
    </div>
  </div>
</div>

<p-dialog header="App Details" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="true" [resizable]="false" styleClass="app-data-modal">
  <!-- <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p> -->
  <div class="app-detail-head">
    <div class="ad-head-left">
      <img [src]="appDetailedData.appIconLink">
      <div class="ad-head-left-data">
        <h5>{{appDetailedData.appName}}</h5>
        <p>Version : {{appDetailedData.version}} </p>
      </div>
    </div>
    <div class="ad-head-right">
      <button (click)="goToLink(appDetailedData.appLink)">
        <span>Download</span>
        <div class="top"></div>
        <div class="left"></div>
        <div class="bottom"></div>
        <div class="right"></div>
      </button>
    </div>
  </div>
  <div class="app-detail-content">
    <h6>Info :</h6>
    <p>{{appDetailedData.appInfo}}</p>
    <h6>Tags :</h6>
    <div class="tag-container">
      <p *ngFor="let tag of appDetailedData.tags; let i = index;">
        <span>{{tag}}</span>
      </p>
    </div>
    <div class="disclaimer-container" *ngIf="appDetailedData.exclusive">
      <h6>Disclaimer :</h6>
      <p>
        This software is provided for educational purposes only. The software listed here may include cracked versions of shareware, which means they have
        been modified to bypass licensing or activation restrictions. This disclaimer is not endorsing or promoting the use of cracked software, as it is illegal and
        against the terms of use set by software developers. The purpose of including these software titles is solely for educational exploration and understanding of
        software functionalities. Users are strongly advised to respect copyright laws and abide by software licensing agreements. The use of cracked software is
        unlawful and may result in legal consequences. We disclaim any responsibility for the usage, installation, or consequences of using cracked software, and we
        encourage users to obtain proper licenses or use legal alternatives for their software needs.
      </p>
    </div>
  </div>
</p-dialog>